/* keyframes animation */
@keyframes titleSpawn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes zoomFade {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slideDownFade {
  0% {
    opacity: 0;
    margin-top: -20px;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes fadeNav {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* main style */
* {
  margin: 0;
  padding: 0;
}

body {
  font: 18px/36px "Bebas Neue", "Arial Narrow", arial, sans-serif;
  background-color: #a4a5a5;
}

.title {
  display: flex;
  font-size: 70px;
  justify-content: center;
  align-items: center;
  height: 150px;
  animation: titleSpawn 1s ease;
}

.title a {
  color: #fff;
  transition: 0.4s;
  text-decoration: none;
  letter-spacing: 3px;
}

.title a:hover {
  text-shadow: -10px 10px 0px #777777, -20px 20px 0px #555555,
    -30px 30px 0px #414141;
  transform: scale(1.15);
}

.container {
  display: flex;
  max-width: 650px;
  background-color: white;
  margin: 30px auto;
  padding: 20px;
  justify-content: space-around;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  animation: titleSpawn 1s ease;
}

.gallery {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.gallery li {
  display: flex;
  border: 5px solid #a4a5a5;
  margin: 20px;
  transition: 0.2s;
  box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.6);
}

.gallery li:hover {
  transform: scale(1.1);
}

.gallery li a {
  text-decoration: none;
  width: 120px;
  height: 120px;
}

.gallery li,
.gallery li a img {
  border-radius: 50%;
}

.overlay {
  display: flex;
  width: 0;
  height: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 9999;
  transition: 0.7;
  padding: 100px 0;
}

.overlay:target {
  justify-content: center;
  align-items: center;
  position: fixed;
  width: auto;
  height: auto;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.overlay .close {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 8%;
  left: 57%;
  color: white;
  text-decoration: none;
  background-color: black;
  border: 1px solid white;
  line-height: 15px;
  padding: 10px;
  opacity: 0;
  box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.7);
}

.overlay:target .close {
  animation: slideDownFade 1s 0.5s forwards;
}

.overlay img {
  max-height: 100%;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.7);
  opacity: 0;
}

.overlay:target img {
  animation: fadeNav 0.7s 0.3s forwards;
}

.overlay:target .next,
.overlay:target .prev {
  animation: fadeNav 0.7s 0.3s forwards;
}

/* Navigasi */
.next,
.prev {
  width: 64px;
  height: 64px;
  background-image: url(../img/nav/previous.png);
  position: absolute;
  text-indent: -9999px;
  top: 45%;
  margin-left: 35%;
  opacity: 0;
}

.prev {
  transform: rotate(180deg);
  margin-left: -35%;
}

/* Media Queries */
@media screen and (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  .overlay .close {
    left: 65%;
  }

  .next {
    margin-left: 68%;
  }

  .prev {
    margin-left: -68%;
  }
}

@media screen and (max-width: 576px) {
  html {
    font-size: 55%;
  }

  .title a {
    font-size: 60%;
  }

  .container {
    width: 70%;
  }

  .overlay img {
    max-height: 65%;
  }

  .overlay .close {
    top: 15%;
    left: 70%;
  }

  .prev {
    transform: rotate(180deg) scale(0.6);
    margin-left: -88%;
  }

  .next {
    transform: scale(0.6);
    margin-left: 88%;
  }

  /* .overlay img {
    transform: scale(0.8);
    margin: 80px auto;
  }

  .next,
  .prev {
    transform: scale(0.5);
    top: 55%;
  }

  .next {
    margin-left: -40px;
  }

  .prev {
    transform: scale(0.5) rotate(180deg);
    margin-left: -25px;
  }

  .overlay .close {
    top: 180px;
    margin-left: 90px;
  } */
}
