/* keyframes animation */
@keyframes titleSpawn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes zoomFade {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slideDownFade {
  0% {
    opacity: 0;
    margin-top: -20px;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes fadeNav {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* main style */
* {
  margin: 0;
  padding: 0;
}

body {
  font: 18px/36px "Bebas Neue", "Arial Narrow", arial, sans-serif;
  background-color: #a4a5a5;
}

.title {
  display: flex;
  font-size: 70px;
  justify-content: center;
  align-items: center;
  height: 150px;
  animation: titleSpawn 1s ease;
}

.title a {
  color: #fff;
  transition: 0.4s;
  text-decoration: none;
  letter-spacing: 3px;
}

.title a:hover {
  text-shadow: -10px 10px 0px #777777, -20px 20px 0px #555555,
    -30px 30px 0px #414141;
  transform: scale(1.15);
}

.container {
  display: flex;
  max-width: 550px;
  background-color: white;
  margin: 30px auto;
  padding: 20px;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  animation: titleSpawn 1s ease;
}

.gallery {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.gallery li {
  display: flex;
  border: 5px solid #a4a5a5;
  margin: 10px;
  transition: 0.2s;
  box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.6);
}

.gallery li:hover {
  transform: scale(1.1);
}

.gallery li a {
  width: 120px;
  height: 120px;
}

.gallery li,
.gallery li a img {
  border-radius: 50%;
}

.overlay {
  width: 0;
  height: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 9999;
  transition: 0.7;
  text-align: center;
  padding: 100px 0;
}

.overlay:target {
  width: auto;
  height: auto;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.overlay .close {
  position: absolute;
  top: 55px;
  left: 50%;
  margin-left: 103px;
  color: white;
  text-decoration: none;
  background-color: black;
  border: 1px solid white;
  line-height: 15px;
  padding: 10px;
  opacity: 0;
  box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.7);
}

.overlay:target .close {
  animation: slideDownFade 1s 0.5s forwards;
}

.overlay img {
  max-height: 100%;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.7);
  opacity: 0;
}

.overlay:target img {
  animation: fadeNav 0.7s 0.3s forwards;
}

.overlay:target .next,
.overlay:target .prev {
  animation: fadeNav 0.7s 0.3s forwards;
}

/* Navigasi */
.next,
.prev {
  width: 64px;
  height: 64px;
  background-image: url(../img/nav/previous.png);
  position: absolute;
  text-indent: -9999px;
  top: 45%;
  margin-left: 50px;
  opacity: 0;
}

.prev {
  transform: rotate(180deg);
  margin-left: -110px;
}

/* Media Queries */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 55%;
  }

  .title a {
    font-size: 50px;
  }

  .container {
    width: 300px;
  }

  .overlay img {
    transform: scale(0.6);
    margin-left: -47.5px;
  }

  .next,
  .prev {
    transform: scale(0.5);
  }

  .next {
    margin-left: 140px;
  }

  .prev {
    transform: scale(0.5) rotate(180deg);
    margin-left: -5px;
  }

  .overlay .close {
    top: 180px;
    margin-left: 90px;
  }
}
